/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #AED3D3;
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    background-color: #E6F7F1;
    padding: 20px 15px 15px 15px;
    position: relative;
}

.header-new-room {
    float: right;
    padding: 0 10px 10px;
    cursor: pointer;
}

.room-item-delete {
    float: right;
    padding: 0 31px 10px;
    cursor: pointer;
    color: darkred;
}

#login-buttons {
    display: block;
    position: absolute;
    z-index: 10;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
}